<div class="container fix">
    <h1 class="text-center m-4">Signup</h1>
    <div class=" main-form form-group col-12 col-sm-12 col-md-9 col-lg-6 m-auto">
        <form action="/login" method="POST">

            <div class="alert alert-success" role="alert">
                This is a success alert—check it out!
            </div>
            <!-- Username -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <!-- firstName -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" class="form-control" placeholder="First name" aria-label="firstName"
                    aria-describedby="basic-addon1">
            </div>
            <!-- Username -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" class="form-control" placeholder="Last name" aria-label="lastName"
                    aria-describedby="basic-addon1">
            </div>
            <!-- email -->
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
            </div>
            <!-- password -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock</i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary w-100">Signup</button>
        </form>
        <a href="/login" class="d-block mt-2"> login</a>
    </div>

</div>
    