<link rel="stylesheet" href="/css/admin/admin.css">
<a href="/admin/backDoor/logout"><span class="logout"><i class="material-icons">exit_to_app</i></span></a>
<a href="/admin/backDoor/"><span class="home"><i class="material-icons">home</i></span></a>
<h2 class="text-center my-5 ">All Users</h2>
<button class="btn info d-block mx-auto mb-4 p-4" onclick="exportCSVFile()"><i class="material-icons">cloud_download</i> Download Users CSV</button>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Account state</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<script type="text/javascript" src="/js/admin/allUsers.js"></script>