/* html,body {
    height: 100%;
} */
*
{
  padding:0;
  margin:0;
}
.fix
{
  clear:both;
}
/* .scrollbar
{
	margin-left: 30px;
	float: left;
	/* height: 300px; */
	/* width: 65px; */
	background: #F5F5F5;
	overflow-y: scroll;
} */
/*
 *  STYLE 6
 */

 #style-6::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar-thumb
 {
     background-color: #F90;	
     background-image: -webkit-linear-gradient(45deg,
                                               rgba(255, 255, 255, .2) 25%,
                                               transparent 25%,
                                               transparent 50%,
                                               rgba(255, 255, 255, .2) 50%,
                                               rgba(255, 255, 255, .2) 75%,
                                               transparent 75%,
                                               transparent)
 }
 
.force-overflow
{
	min-height: 450px;
}
.active,.notActive
{
  position: absolute;
  left: 50px;
  bottom: 14px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%
}
.active{background-color: #63ff63;}
.notActive{background-color: #bfbfbf;}
.users
{
    overflow: auto;
    margin-bottom: 19px;
}
.users ul li{
  transition: background-color 0.5s ease;
}
.users ul li:hover{
  background:#F1863E;
  cursor:pointer;
  color:#fff
}

.users ul li img{
  position:relative;
  width:40px;
  margin-right:8px
}
.chat
{
  background: #fbfbfb;
  height:calc(100vh - 113px);
  padding:10;
  border-radius:15px
}
.chat .desc
{
  height: calc(100vh - 113px - 100px - 60px);
  overflow: auto;
  padding-top: 14px;
}
.chat .desc .msg-l
{
  margin:10px 10px;

  overflow:hidden;
}
.chat .desc .msg-l img
{
  width:40px;
  display:block;
  float:left
}
.chat .desc .message
{
  min-width:100px;
  margin-left:15px;
  max-width:300px;
  float:left;
  word-wrap: break-word;

}
.chat .desc .msg-l .message span
{
  display:block;

}
.chat .desc .message .user
{
  color: #999;
}
.chat .desc .msg-l .message .msgContent
{
  background:#eee;
  padding:10px;
  border-radius:5px
}
.chat .desc .msg-r
{
  margin:10px 10px;
  overflow:hidden;
}
.chat .desc .msg-r .message
{
  float:right;
}
.chat .desc .msg-r .message .user
{
  float: right;
  margin-right: 5px;
}
.chat .desc .msg-r .message .msgContent
{
  padding: 10px;
  background: #ffe8cf;
  border-radius: 5px;
  margin-top: 27px;
  display: block;
}
.chatInputs {
  position: relative;
  height: 100px;
  overflow: hidden;
  background: #fbfbfb;
}
.chatInputs textarea {
  width: 80%;
  height: 49px;
  resize: none;
  overflow: auto;
}
.chatInputs .sendMsg
{
  background: #F1863E;
  position: absolute;
  top: 25px;
  height:45px;
  right: 40px;
  border-radius: 10px;
  color: #fff;
}















/* .fill
{
    min-height: 100%;
    height: 100%;
    background: red;
}
.chatContainer
{
    background: #6dd06dde;
    height: 100%;
}
.pos
{
    height: 917px;
    margin-top: 7%;
}
#message
{
    resize: none
}
#listUsers{
    height: 100%;
}
#listUsers ul {list-style: none;padding-left: 6px;}
#listUsers ul li{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    background: #e9ecef;
}
#listUsers ul li:hover
{
    cursor: pointer;
}
#messages{
    overflow: auto;
    background: #cccccc;
    height: 77%;
}
#messages #user
{
    padding: 10px;
    background: #eee;
    width: 60%;
    margin: 13px;
} */
/* .footer {
    position: none;
    display: none;
} */