html,body {
    height: 100%;
}
.fill
{
    min-height: 100%;
    height: 100%;
    background: red;
}
.chatContainer
{
    background: #6dd06dde;
    height: 100%;
}
.pos
{
    height: 917px;
    margin-top: 7%;
}
#message
{
    resize: none
}
#listUsers{
    height: 100%;
}
#listUsers ul {list-style: none;padding-left: 6px;}
#listUsers ul li{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    background: #e9ecef;
}
#listUsers ul li:hover
{
    cursor: pointer;
}
#messages{
    overflow: auto;
    background: #cccccc;
    height: 77%;
}
#messages #user
{
    padding: 10px;
    background: #eee;
    width: 60%;
    margin: 13px;
}
