<link rel="stylesheet" href="/css/chat/chat.css">
<script src="/js/chat/chatData.js"></script>
<div class="container">
    <div class="users col-lg-3 col-md-12 col-sm-12 float-left ">
      <ul id="user" class="list-group">
        <li class="list-group-item"><img class="rounded-circle" src="http://placehold.it/100/100">Cras justo odio<span class="active"></span></li>
        <li class="list-group-item"><img class="rounded-circle" src="http://placehold.it/100/100">Dapibus ac facilisis in<span class="notActive"></span></li>
        <li class="list-group-item"><img class="rounded-circle" src="http://placehold.it/100/100">Morbi leo risus<span class="active"></span></li>

      </ul>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 float-left chat">
      <div class="desc scrollbar" id="style-6"">
        <div class="msg-l">
          <img class="rounded-circle" src="http://placehold.it/100/100">
          <div class="message">
            <span class="user">user</span>
            <span class="msgContent">fasfadsfdasfasfadsfdsaffadsfadsffadsfdsafdsfsd</span>
          </div>
          <div class="fix"></div>
        </div>
        <div class="msg-r">
          <div class="message">
            <span class="user">10:11</span>
            <span class="msgContent">fasfadsfdasfasfadsfdsaffadsfadsffadsfdsafdsfsd</span>
          </div>
          <div class="fix"></div>
        </div>
        <div class="force-overflow"></div>
      </div>
        <div class="chatInputs">
        <textarea class="ml-5 mt-4 rounded form-control">
          
        </textarea>
        <button class="btn sendMsg">send</button>
      </div>
    </div>
  </div>


<!-- <div class="container-fluid pos ">
    <div class="row fill">
        <div class="col-4 bg-light px-0" id="listUsers">
            <ul id="users">
            </ul>
        </div>
        <div class="col-8 p-0 chatContainer" id="chat">
            <div class="w-100 bg-dark py-5 px-3"> 
                <h3 class="text-white">Let's Chat</h3>
            </div>
            <div id="messages" class="chatBody h-80">

            </div>
            <div class="chatFooter w-100 p-1">
                <textarea id="message" class="form-control float-left col-10"></textarea>
                <button id="send" class="btn btn-warning float-right mt-1 float-right p-3 col-2">send</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
</div> -->
<script src="/js/chat/chatData.js"></script>
