<link rel="stylesheet" href="/css/chat/chat.css">
<script src="/js/chat/chatData.js"></script>
<div class="container-fluid pos ">
    <div class="row fill">
        <div class="col-4 bg-light px-0" id="listUsers">
            <ul id="users">
            </ul>
        </div>
        <div class="col-8 p-0 chatContainer" id="chat">
            <div class="w-100 bg-dark py-5 px-3"> 
                <h3 class="text-white">Let's Chat</h3>
            </div>
            <div id="messages" class="chatBody h-80">

            </div>
            <div class="chatFooter w-100 p-1">
                <textarea id="message" class="form-control float-left col-10"></textarea>
                <button id="send" class="btn btn-warning float-right mt-1 float-right p-3 col-2">send</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
</div>
<script src="/js/chat/chatData.js"></script>
