<link rel="stylesheet" href="/css/chat/chat.css">
<script src="/js/chat/chatData.js"></script>
<div class="container">
    <div class="users col-lg-3 col-md-12 col-sm-12 float-left ">
      <ul id="user" class="list-group">
   
      </ul>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 float-left chat">
      <div class="desc scrollbar" id="messages">
        <div class="force-overflow"></div>
      </div>
    </div>
  </div>
<script src="/js/chat/chatData.js"></script>
