<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-3">
     	<h5>Discovry Settings</h5>
     	<ul class="list-group">
		  <li class="list-group-item">
		  	<label class="mb-3">Fame Rating (⭐)</label>
			<div id="fameRating">
			  <input type="hidden" class='custom-slider-input' name="custom-slider-value" >
			</div>
		  </li>
		  <li class="list-group-item">
		  	<label class="mb-3">Maximum Distance (km)</label>
			<div id="shards-custom-slider">
			  <input type="hidden" class='custom-slider-input' name="custom-slider-value" >
			</div>
		  </li>
		  <li class="list-group-item">
		  	<label class="mb-3">Age Range</label>
			<div id="shards-custom-slider2">
			  <input type="hidden" class='custom-slider-input' name="custom-slider-value-1" >
			  <input type="hidden" class='custom-slider-input' name="custom-slider-value-2" >
			</div>
		  </li>
		  <li class="list-group-item">
		  	<label class="mb-3">looking for ?</label><br>
				<input type="radio" name="gender" value="male"> Male<br>
				<input type="radio" name="gender" value="female"> Female<br>
				<input type="radio" name="gender" value="other"> Everyone
		  </li>
		  <li class="list-group-item">
			<label>What are you interested in?</label>
	        <div class="u-tagsinput">
	          <input type="text" value="tech, music, sports" data-role="tagsinput">
	        </div>
		  </li>
		</ul>
    </div>
    <div class="col-md-9 col-sm-12">
    	<h5>Suggested Profiles</h5>
    	<div class="row users">
		  <div class="col-sm-5 mx-4 mb-4">
		    <div class="card text-center">
		      <img class="card-img-top" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=707b9c33066bf8808c934c8ab394dff6" alt="Card image cap">
		      <div class="card-body">
		        <h4 class="card-title">Davina Matthews</h4>
		        <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
		        <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
		        <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-5 mx-4 mb-4">
		    <div class="card text-center">
		      <img class="card-img-top" src="https://randomuser.me/api/portraits/women/21.jpg" alt="Card image cap">
		      <div class="card-body">
		        <h4 class="card-title">Rebekka Gardner</h4>
		        <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
		        <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
		        <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-5 mx-4 mb-4">
		    <div class="card text-center">
		      <img class="card-img-top" src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3759e09a5b9fbe53088b23c615b6312e" alt="Card image cap">
		      <div class="card-body">
		        <h4 class="card-title">Arley Bowler</h4>
		        <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
		        <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
		        <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
		      </div>
		    </div>
		  </div>
		</div>


    </div>
  </div>
</div>