<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h5>Discovry Settings</h5>
      <ul class="list-group">
        <li class="list-group-item">
          <label class="mb-3">Fame Rating (⭐)</label>
          <div id="fameRating">
            <input type="hidden" id="fameRatingInput" class='custom-slider-input' name="custom-slider-value">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">Maximum Distance (km)</label>
          <div id="shards-custom-slider">
            <input type="hidden" id="distanceInput" class='custom-slider-input' name="custom-slider-value">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">Age Range</label>
          <div id="shards-custom-slider2">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value-1">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value-2">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">looking for ?</label><br>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Everyone
        </li>
        <li class="list-group-item">
          <label>What are you interested in?</label>
          <div class="u-tagsinput">
            <input type="text" value="tech, music, sports" data-role="tagsinput">
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-12">
      <h5>Suggested Profiles</h5>
      <div class="row users">

      </div>


    </div>
  </div>
</div>
<script type="text/javascript" src="/js/home/homeData.js"></script>
<script type="text/javascript" src="/js/home/homeStyle.js"></script>