

  <div id="mySidenav" class="sidenav">
    <h5 class="text-center">Advanced Search</h5>
    <ul class="list-group w-50 mx-auto">
      <li class="list-group-item">
        <label class="mb-3">Fame Rating (⭐)</label>
        <div id="fameRating">
          <input type="hidden" id="fameRatingInput" class='custom-slider-input' name="custom-slider-value">
        </div>
      </li>
      <li class="list-group-item">
        <label class="mb-3">Maximum Distance (km)</label>
        <div id="shards-custom-slider">
          <input type="hidden" id="distanceInput" class='custom-slider-input' name="custom-slider-value">
        </div>
      </li>
      <li class="list-group-item">
        <label class="mb-3">Age Range</label>
        <div id="shards-custom-slider2">
          <input type="hidden" id="ageR1" class='custom-slider-input' name="custom-slider-value-1">
          <input type="hidden" id="ageR2" class='custom-slider-input' name="custom-slider-value-2">
        </div>
      </li>
      <li class="list-group-item">
        <label class="mb-3">looking for ?</label><br>
        <input type="radio" name="gender" id="male" value="male"> Male<br>
        <input type="radio" name="gender" id="female" value="female"> Female<br>
        <input type="radio" name="gender" id="both" value="both"> Everyone
      </li>
      <li class="list-group-item">
        <label>What are you interested in?</label>
        <div class="u-tagsinput">
          <input type="text" class="tags" id="listInterest" value="" data-role="tagsinput">
        </div>
          <!-- csrf Token -->
        <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
      </li>
      <li class="list-group-item">
        <button type="button" id="search" onclick="closeNav()" class="btn w-100  btn-warning"><i class="material-icons">search</i>Search</button>
      </li>
    </ul>
  </div>

  <div id="main" class="col-lg-12 col-md-12 col-sm-12">
    <h5 class="text-center mb-5">Suggested Profiles</h5>
    <span class="openTopBar" style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="material-icons">search</i></span>

    <div  class="row users ">
      <div class="sortingButtons mb-5 text-center col-12">
          <button class="btn btn-warning" id="sAge">Sort by age</button>
          <button class="btn btn-warning" id="sLoc">Sort by location</button>
          <button class="btn btn-warning" id="sFame">Sort by fameRating</button>
          <button class="btn btn-warning" id="sTags">Sort by Commong tags</button>
      </div>
      
      <div class="suggestedUsers col-12">
        
      </div>
    </div>


  </div>

<script type="text/javascript" src="/js/home/homeData.js"></script>
<script type="text/javascript" src="/js/home/homeStyle.js"></script>