<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h5>Discovry Settings</h5>
      <ul class="list-group">
        <li class="list-group-item">
          <label class="mb-3">Fame Rating (⭐)</label>
          <div id="fameRating">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">Maximum Distance (km)</label>
          <div id="shards-custom-slider">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">Age Range</label>
          <div id="shards-custom-slider2">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value-1">
            <input type="hidden" class='custom-slider-input' name="custom-slider-value-2">
          </div>
        </li>
        <li class="list-group-item">
          <label class="mb-3">looking for ?</label><br>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Everyone
        </li>
        <li class="list-group-item">
          <label>What are you interested in?</label>
          <div class="u-tagsinput">
            <input type="text" value="tech, music, sports" data-role="tagsinput">
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-12">
      <h5>Suggested Profiles</h5>
      <div class="row users">
        <div class="col-sm-5 mx-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://images.pexels.com/photos/1580173/pexels-photo-1580173.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Davina Matthews</h4>
              <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
              <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
              <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 mx-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://images.pexels.com/photos/2187673/pexels-photo-2187673.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Rebekka Gardner</h4>
              <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
              <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
              <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 mx-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://images.pexels.com/photos/3078831/pexels-photo-3078831.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Arley Bowler</h4>
              <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
              <a href="#" class="btn btn-outline-success btn-pill">❤️</a>
              <a href="#" class="btn btn-outline-danger btn-pill">❌</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
