  .home
  {
      position: relative;
  }
  h1,h2,h3,h4,h5,h6{
    color: rgba(0,0,0,.5);
  }
  .sidenav {
    height: 0;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #F1863E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .openTopBar
  {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: -76px;
    right: 3%;
    z-index: 3;
    border-radius: 50%;
    background: #EA4A3B;
    color: #fff;
    padding: 6px;
    width: 52px;
    height: 51px;
    text-align: center;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .openTopBar:hover
  {
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .errors
  {
    position: fixed;
    width: 366px;
    border-radius: 5;
    bottom: 58px;
    right: 14px;
  }